version: '3.8'

services:
    peerjs:
        build: .
        container_name: peerjs-server
        ports:
            - 9000:9000
        restart: always

        ulimits:
            nofile:
                soft: 65536
                hard: 65536
